body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #3e9470;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 10px 10px 150px;
}

.fundo {
    width: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.1;
}

button,
.enviar {
    background-color: rgb(255, 200, 60);
    color: black;
    border-color: rgb(241, 183, 35);
    border-radius: 50px;
    width: 200px;
    margin: 50px 15px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:active {
    background-color: darkgoldenrod;
}

.item1,
.item2,
.item3,
.item4 {
    max-width: 700px;
}


.item5 {
    max-width: 700px;
    background-color: #63cca0;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

textarea {
    width: 80%;
    border-radius: 8px;
    height: 100px;
    resize: vertical;
    text-align: center;

}

h2 {
    text-align: center;
    color: #3e9470;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin: 50px;
}

blockquote {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(0, 0, 0);
    padding: 5px;
    width: 300px;
    margin: auto;
    background: #63cca0;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.foto {
    width: 90%;
    border-radius: 50%;
}

.section {
    width: 100%;
    background-color: #3e9470;
    color: white;
    justify-content: space-around;
    display: flex;
}

.info1,
.info2 {
    grid-template-columns: auto;
    text-align: center;
}

h4 {
    color: #f9b217;
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    text-align: center;
}

footer {
    background-color: #0a1a2a;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9em;
}

footer p {
    margin: 0;
    color: #3e9470
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        padding: 20px;
    }

    .info1,
    .info2 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .button {
        margin-right: 0;
        margin-bottom: 20px;
    }
}