/* Fundo */
body {
    margin: 0;
    padding: 0;
    background-color: #f1f1ee;
}

.fundo{
    width: 100%;
    position: absolute;
    right: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.2;
}

header{
    justify-content: center;
    background-color: #3e9470;
    padding: 10px;
    text-align: center;
}
/* Banners */
.banner {

    width: 100%;
    height: 450px;
}

h2 {
    text-align: center;
    color: #3e9470;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    margin: 50px;
}

/* Cards Informativos */
.card {
    display: inline-flex;
    width: 150px;
    height: 50px;
    background: #e2e2e2;
    padding: 15px 15px 15px 12px;
    margin: 20px 140px;
    border-radius: 10px;
    justify-content: center;
}

/* Botões navegadores*/
button {
    background-color:goldenrod;
    color:black;
    border-color: darkgoldenrod;
    border-radius: 50px;
    display: flexbox;
    width: 200px;
    margin: 80px 15px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-track {
    display: flex;
    transition: transform 0.8s ease-in-out; /* Suaviza o movimento do carrossel */
    
}
  
.carousel-item {
    flex: 100%; /* Cada item ocupa 100% da largura visível */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f1f1ee;
    box-shadow: 8px 8px 20px black;
  }
  
.carousel-item img {
    width: 60%;
    border-radius: 8px;
    cursor: pointer;
  }
  
.carousel-item:hover {
    transform: scale(1.1); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Destaque com sombra */
}

  
  /* .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(5, 197, 255, 0.363);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
  }
  
  button.prev {
    left: 10px 
  }
  
  button.next {
    right: 10px;
  } */

/* produtos */
.alinhamento2{
    justify-items: center;
}

.produto {
    display: inline-flex;
    width: 150px;
    height: 150px;
    background: #ffffff;
    padding: 17px 17px 17px 12px;
    margin: 20px 12px;
    border-radius: 10px;
    justify-items: center;
    animation: slide 30s linear infinite
}

/* Informações */
.section {
    width: 100%;
    background-color: #3e9470;
    color:white;
    justify-content: space-around;
    display: flex;
}

.info1, .info2 {
    grid-template-columns: auto;
    text-align: center;
}

h4 {
    color: #f9b217;
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    text-align:center;
}

/* Rodapé */
footer {
    background-color: #0a1a2a;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9em;
}

footer p {
    margin: 0;
    color: #3e9470
}

/* Links sociais */
.social-icons {
    margin-top: 10px;
}

.social-icons img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* Adicionando responsividade */
@media (max-width: 768px) {
    section {
        flex-direction: column;
        padding: 20px;
    }

    .info1, .info2 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .button {
        margin-right: 0;
        margin-bottom: 20px;
    }
}